body{
    width: 100vw;
    overflow-x:hidden;
}
main{
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

.wrp-welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 80vh;
    background-color: rgb(29, 28, 28);
}

.wrp-welcome img{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.66;
}